/* Design by Xuanao Zhao 20023404. MIT License Applied */

.layoutCenter.box{
	position: relative;
	height: 95vh;
}
.layoutCenter.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.layoutFlex.box{
	display:flex;
}
.layoutFlex.box.horizontal{
	flex-direction: row
}
.layoutFlex.box.vertical{
	flex-direction: column;
}
.layoutFlex.box.horizontal-reversed{
	flex-direction: row-reverse;
}
.layoutFlex.box.vertical-reversed{
	flex-direction: column-reverse;
}
.layoutFlex.box.wrap{
	flex-wrap: wrap;
}
.layoutFlex.box.wrap_reverse{
	flex-wrap: wrap-reverse;
}