/* Design by Xuanao Zhao 20023404. MIT License Applied */

:root{
	--primary: #9966FF;
	--primary_dark: #9933FF;
	--primary_light: #CCCCFF;
	--primary_background: #efe6ff;
	--secondary: #BFBFBF;
	--secondary_light: #F2F2F2;
	--secondary_dark: #7F7F7F;
	--front_error: #D24242;
	--front_wait: #BF9000;
	--front_success: #548235;
	--light_green: #A2CD85;
	--light_orange: #F4B183;
	--light_gray: #D9D9D9;
	--extra_light_gray: #EDEDED;
	--light_blue: #9DC3E6;
	--dark_orange: #C55A11;
	--dark_blue: #2E75B6;
}

*{
	font-family: ubuntu, roboto, sans-serif;
}