/* Design by Xuanao Zhao 20023404. MIT License Applied */
body{
	/*background-color: var(--secondary_light);*/
	background: url(/assets/backgrounds/college.jpg);
	background-size: cover;
}
.errmsg{
	margin-bottom: 20px;
	background: var(--front_error);
	color:white;
	padding: 10px 15px;
}
.lightBox{
	background: white;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 40px 1px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 40px 1px rgba(153,153,153,1);
	box-shadow: 0px 0px 40px 1px rgba(153,153,153,1);
	min-height:400px;
	min-width: 700px;
}
.lightBoxContent{
	align-items: stretch;
}
.formTitle.primary{
	color: var(--primary_dark);
	font-weight: 500;
	font-size: 24px;
	margin: 10px 0px;
}
.formTitle.secondary{
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.textContent.secondary{
	color: white;
	font-size: 16px;
	font-weight: 300;
	margin: 0px 0px 0px 40px;
	width: 175px;
	line-height: 20px;
}
.secondaryOption{
	background-image: url(/assets/backgrounds/corner_light.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: var(--primary);
	padding-left: 10px;
	min-width: 280px;
	min-height: 400px;
}
.primaryOption{
	background-color: white;
	min-width: 395px;
	padding-left: 10px;
	padding-right: 15px;
}
.titleFrame.primary{
	margin-bottom:20px;
}
.titleFrame.secondary{
	margin: 70px 0px 40px 0px;
}
.button.secondary{
	margin: 20px 0px 0px 40px;
}